// // theme Color
$primary: #cadcfc;
$secondary: #00246b;
$info: #8ab6f9;
$dark: #000000;
$danger: #F32013;
$light: #FFFFFF;
$warning: #F6BE2B;
$success: #28a745;

// sidebar
$sidebar-bg: $secondary;

// card
$card-border-color: transperent;


//input
$input-btn-focus-shadow-rgb: transperent;


// // ngx-bootstrap datepicker
// $theme-list: (
//   'primary': $primary,
// );

// $icon-bg: #F3FCFF;