// Global styles goes here

#root {
    height: 100%;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.cursor-pointer {
    cursor: pointer;
}

.overflow-y-auto {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: $secondary transparent;
    scrollbar-width: thin;
}

.fs-xs {
    font-size: 0.75rem;
}

.transition {
    transition: $transition-timing all;
}

.border-radius {
    border-radius: $border-radius;
}