// All the SCSS Variables goes here
$font-family-base: "Roboto", sans-serif;
$font-size-base: 1rem;
$font-size-base-sm: 0.875rem;

// general
$transition-timing : 0.4s;
$border-radius : 12px;

// header 
$header-height : 80px;
$header-profile-img-size : 40px;

// Side Bar
$sidebar-width : 250px;
$side-header-height : $header-height;

// nav - linkk
$nav-link-padding-x: 0.75rem;

//bootstrap spinner
$spinner-size : 5rem;
$spinner-height :$spinner-size;
$spinner-width :$spinner-size;

// form controls
$input-focus-box-shadow: transparent;

// button
$btn-border-radius: 12px;

// table
$table-border-color: $secondary;