.circle-svg {
    height: 150px;
    width: 150px;
}

.progress-circle {

    fill: none;
    stroke: $info;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);

    &:nth-child(2) {
        stroke-dasharray: 283;
        stroke: $secondary;
    }
}